<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class='navbar-brand' href="#">UNITECH-CONTACTS-APP</a>
    </div>
    <ul class="nav navbar-nav navbar-right">

      <li *ngIf="authService.isAuthenticated() && authService.profile">
        <a routerLink="/profile">
          <img [src]="authService.profile.picture" alt="avatar" class="profile img-circle img-fluid">
          {{authService.profile.name}}
          </a>
      </li>
      <li *ngIf="!authService.isAuthenticated()" (click)="authService.login()">
        <a>LOGIN</a>
      </li>

      <li *ngIf="authService.isAuthenticated()" (click)="authService.logout()">
        <a>LOGOUT</a>
      </li>
      
    </ul>

  </div>

</nav>



<div class="container">
  <app-addcontactform></app-addcontactform>
  <router-outlet></router-outlet>

</div>